build/
build-*/
cmake-build-*/
.qtcreator/
*.user
*.autosave
moc_*.cpp
moc_*.h
qrc_*.cpp
ui_*.h
*.o
*.exe
*.dll
*.so
*.dylib
*.log
.DS_Store
Thumbs.db
*.qm
*.aotstats
*_autogen/
.meta_types/
.qmlcache/
